div.pageHeadingSticky.viewDog{
    justify-content: start!important;

    .whatsappEnquire{
        margin-left: 30px;
    }

    .bestBuy{
        margin-left: 20px;
        background-color: #2e0152;
        color: #fff
    }
}
.dogViewWrapper{
    font-family: poppins;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding: 15px;
    .mainInfo{
        width: 65%;
        padding: 0 20px;
        .directInfoWrapper{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: start;
            margin-bottom: 20px;
            .directInfo{
                width: 50%;
                margin-bottom: 15px;
                .InfoHeader{
                    font-size: 20px;
                    font-family: changa one;
                    font-weight: 500;
                    text-transform: uppercase;
                    letter-spacing: 0.5px;
                }
                span{
                    font-weight: 600;
                }
            }
        }
        .descriptionWrapper{
            margin-bottom: 40px;
            h4{
                font-size: 20px;
                font-family: changa one;
                font-weight: 500;
                text-transform: uppercase;
                letter-spacing: 0.5px;
                margin-bottom: 15px;
            }
        }
    }
    .galleryWrapper{
        width: 35%;
        padding: 0 0 0 20px;
        position: sticky;
        top: 140px;
        img{
            width: 100%;
            height: auto;
            border-radius: 8px;
        }
    }
}
.actionWrapper{
    margin-top: 0px;
    display: flex;
    justify-content: space-between;
    padding: 10px 15px 15px;
    button{
        padding: 12px 24px;
        text-align: center;
        // letter-spacing: 0.2px;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 14px;
        font-family: poppins;
        border: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
        // width: 48%;
    }
    .whatsappEnquire{
        background: #64b161;
        color: white;
        border-radius: 8px;
        // margin-right: 20px;

        img{
            height: 20px;
            width: auto;
            margin-right: 10px;
        }
    }
}
.seeMoreSkeletonnWrapper{
    padding: 15px 30px; 
    width: 40%
}



@media only screen and (max-width: 768px) {
    .dogViewWrapper{
        flex-direction: column-reverse;

        .mainInfo{
            width: 100%;
        }

        .galleryWrapper{
            position: relative;
            width: 100%;
            padding: 0;
            top: 0;
            margin-bottom: 30px;
        }

    }
    .seeMoreSkeletonnWrapper{
        padding: 15px 30px; 
        width: 100%
    }
}