.matingWrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: stretch;
  width: 100%;
  padding: 0 30px;
  overflow-y: visible;
}
.matingWrapper .MatingSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
.matingWrapper .MatingSection .matingTabs {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.matingWrapper .MatingSection .matingTabs div {
  margin-right: 30px;
  font-size: 20px;
  font-family: changa one;
  cursor: pointer;
  padding: 15px;
}
.matingWrapper .MatingSection .matingTabs div.active {
  background: #6504b5;
  color: #fff;
  box-shadow: 0px 0px 5px 0px #b6b6b6;
  border-radius: 8px;
}
.matingWrapper .matingPanel {
  width: 70vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  padding: 0 20px 20px;
}
.matingWrapper .matchSection {
  width: 100%;
  position: relative;
}
.matingWrapper .matchSection h3 {
  position: sticky;
  top: 0;
  font-family: changa one;
  padding: 15px 0;
  background: #fff;
}
.matingWrapper .matchSection .match {
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  background: #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.matingWrapper .matchSection .match .dogPhotoWrapper {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
.matingWrapper .matchSection .match .dogDetailMating {
  font-size: 14px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.matingWrapper .matchSection .match .dogDetailMating div {
  display: flex;
  align-items: center;
  margin-bottom: 0px;
  margin-right: 30px;
}
.matingWrapper .matchSection .match .dogDetailMating div p {
  margin: 0;
}
.matingWrapper .matchSection .match .dogDetailMating div img {
  width: 20px;
  margin-right: 10px;
}
.matingWrapper .matchSection .match .actionWrapper {
  display: flex;
  justify-content: space-around;
}
.matingWrapper .matchSection .match .actionWrapper button {
  padding: 10px 20px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  font-family: poppins;
  border: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}
.matingWrapper .matchSection .match .actionWrapper .whatsappEnquire {
  background: #6504b5;
  color: white;
  margin-right: 20px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}
.matingWrapper .matchSection .match .actionWrapper .whatsappEnquire.pending {
  background: rgba(101, 4, 180, 0.5);
}
.matingWrapper .matchSection .match .actionWrapper .whatsappEnquire img {
  height: 20px;
  width: auto;
  margin-right: 10px;
}
.matingWrapper .card {
  font-family: fredoka;
  position: relative;
  width: 80vw;
  max-width: 260px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  overflow: hidden;
}
.matingWrapper .swipe {
  position: absolute;
}
.matingWrapper .cardContainer {
  padding: 30px 60px 30px 0;
  height: auto;
  width: 400px;
  overflow: hidden;
  position: relative;
}
.matingWrapper .cardContainer .dogPhotoWrapper {
  height: 400px;
  width: 100%;
}
.matingWrapper .cardContainer .dogDetailMating {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px 10px;
  background: rgba(255, 255, 255, 0.7);
  color: black;
}
.matingWrapper .cardContainer .dogDetailMating h3 {
  font-size: 22px;
  color: #6504b5;
}
.matingWrapper .cardContainer .dogDetailMating div {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}
.matingWrapper .cardContainer .dogDetailMating div p {
  margin-bottom: 0;
  font-weight: 500;
}
.matingWrapper .cardContainer .dogDetailMating div img {
  width: 20px;
  height: auto;
  margin-right: 15px;
}

.matingSelector h2 {
  font-family: changa one;
  margin-bottom: 20px;
}

.matingButtons {
  position: relative;
  bottom: 0px;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.matingButtons img {
  width: 40px;
  height: 40px;
}
.matingButtons .leftSwipe {
  border-radius: 50%;
}
.matingButtons .rightSwipe {
  border-radius: 50%;
}
.matingButtons button {
  padding: 15px;
  border-radius: 12px;
  border: 0px;
  color: white;
  background: #6504b5;
}

.addMatingDog {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.addMatingDog img {
  width: 250px;
  margin-top: 20px;
  margin-bottom: 15px;
}
.addMatingDog h1 {
  margin-bottom: 30px;
}

.crossIcon {
  height: 80px;
  width: auto;
  margin: 0px 60px;
  opacity: 0.4;
}

@media only screen and (max-width: 768px) {
  .addMatingDog {
    margin-top: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .addMatingDog img {
    width: 100px;
    margin-top: 20px;
    margin-bottom: 15px;
  }
  .addMatingDog h1 {
    margin-bottom: 30px;
  }
  .matingWrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    overflow-x: hidden;
    overflow-y: visible;
    max-height: none;
    padding: 0 15px;
  }
  .matingWrapper .matingTabs {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .matingWrapper .matingTabs div {
    margin-right: 10px;
    font-size: 14px;
    font-family: changa one;
    cursor: pointer;
    padding: 10px;
  }
  .matingWrapper .matingTabs div.active {
    background: #6504b5;
    color: #fff;
    box-shadow: 0px 0px 5px 0px #b6b6b6;
    border-radius: 8px;
  }
  .matingWrapper .matingPanel {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    background: #fff;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
    padding: 30px 20px 20px;
  }
  .matingWrapper .matchSection {
    width: 100%;
    max-width: 100%;
    background: #fff;
    padding: 20px 15px 20px;
    overflow-y: visible;
    position: relative;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  }
  .matingWrapper .matchSection h3 {
    position: sticky;
    top: 0;
    font-family: changa one;
    padding: 15px 0;
    background: #fff;
  }
  .matingWrapper .matchSection .match {
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 8px;
    background: #f5f5f5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .matingWrapper .matchSection .match .dogPhotoWrapper {
    height: 40px;
    width: 40px;
    border-radius: 50%;
  }
  .matingWrapper .matchSection .match h6 {
    margin-bottom: 20px;
  }
  .matingWrapper .matchSection .match .dogDetailMating {
    font-size: 12px;
  }
  .matingWrapper .matchSection .match .dogDetailMating div {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  .matingWrapper .matchSection .match .dogDetailMating div p {
    margin: 0;
  }
  .matingWrapper .matchSection .match .dogDetailMating div img {
    width: 20px;
    margin-right: 15px;
  }
  .matingWrapper .matchSection .match .actionWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin-top: 10px;
    justify-content: space-around;
  }
  .matingWrapper .matchSection .match .actionWrapper button {
    padding: 10px 20px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
    font-family: poppins;
    border: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  }
  .matingWrapper .matchSection .match .actionWrapper .whatsappEnquire {
    background: #6504b5;
    color: white;
    margin-right: 0px;
    margin-bottom: 0px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  }
  .matingWrapper .matchSection .match .actionWrapper .whatsappEnquire.pending {
    background: rgba(101, 4, 180, 0.5);
  }
  .matingWrapper .matchSection .match .actionWrapper .whatsappEnquire img {
    height: 20px;
    width: auto;
    margin-right: 10px;
  }
  .matingWrapper .card {
    font-family: fredoka;
    position: relative;
    width: 80vw;
    max-width: 260px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    overflow: hidden;
  }
  .matingWrapper .swipe {
    position: absolute;
  }
  .matingWrapper .cardContainer {
    padding: 0px 50px 30px;
    height: 400px;
    width: 100%;
    position: relative;
  }
  .matingWrapper .cardContainer .dogPhotoWrapper {
    height: 300px;
    width: 100%;
  }
  .matingWrapper .cardContainer .dogDetailMating {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px 10px;
    background: rgba(255, 255, 255, 0.7);
    color: black;
  }
  .matingWrapper .cardContainer .dogDetailMating h3 {
    font-size: 22px;
    color: #6504b5;
  }
  .matingWrapper .cardContainer .dogDetailMating div {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
  }
  .matingWrapper .cardContainer .dogDetailMating div p {
    margin-bottom: 0;
    font-weight: 500;
  }
  .matingWrapper .cardContainer .dogDetailMating div img {
    width: 20px;
    height: auto;
    margin-right: 15px;
  }
  .matingButtons {
    position: absolute;
    bottom: 30px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  .matingButtons img {
    width: 40px;
    height: 40px;
  }
  .matingButtons .leftSwipe {
    border-radius: 50%;
  }
  .matingButtons .rightSwipe {
    border-radius: 50%;
  }
  .matingButtons button {
    border-radius: 12px;
    border: 0px;
    color: white;
  }
  .crossIcon {
    height: 80px;
    width: auto;
    margin: 20px 60px;
  }
}/*# sourceMappingURL=style.css.map */