.browsePetWrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-family: poppins;
}
.browsePetWrapper .pupListWrapper {
  width: calc(100% - 220px);
  z-index: 10;
  padding: 0px 0px 20px;
  background: #f5f5f5;
  box-shadow: 0px 0px 5px 0px #b6b6b6;
}
.browsePetWrapper .pupListWrapper .pageHeadingSticky {
  position: sticky;
  top: -1px;
  padding: 35px 30px 15px;
  background: linear-gradient(90deg, rgb(2, 0, 36) 0%, rgb(101, 4, 181) 100%);
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: stretch;
  flex-wrap: wrap;
  z-index: 10;
  color: #fff;
}
.browsePetWrapper .pupListWrapper .pageHeadingSticky.nonStick {
  position: relative;
}
.browsePetWrapper .pupListWrapper .pageHeadingSticky h1 {
  margin-bottom: 10px;
  font-family: changa one;
}
.browsePetWrapper .pupListWrapper .pageHeadingSticky .buyPageHeading {
  font-family: changa one;
}
.browsePetWrapper .pupListWrapper .pageHeadingSticky .buyPageInfo {
  font-family: poppins;
  margin-bottom: 0;
}
.browsePetWrapper .pupListWrapper .buyPageListWrapper {
  padding: 0 30px;
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: start;
}
.browsePetWrapper .pupListWrapper .buyPageListWrapper .buyPageList {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  justify-content: start;
}
.browsePetWrapper .pupListWrapper .buyPageListWrapper .bannerWrapper {
  width: 19%;
  position: sticky;
  top: 150px;
  padding: 20px 15px 25px;
  text-align: center;
  background: #2e0152;
  background: #6504b5;
  color: white;
  border: 1px solid #ffd903;
  border-radius: 12px;
}
.browsePetWrapper .pupListWrapper .buyPageListWrapper .bannerWrapper h3 {
  font-family: changa one;
}
.browsePetWrapper .pupListWrapper .buyPageListWrapper .bannerWrapper p {
  font-family: poppins;
}
.browsePetWrapper .pupListWrapper .buyPageListWrapper .bannerWrapper button {
  margin-top: 10px;
  padding: 10px 20px;
  font-family: changa one;
  background: #fff;
  color: #6504b5;
  border: 0px;
  border-radius: 8px;
}

.enquiryModal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40vw;
  border-radius: 12px;
  padding: 40px;
  background: #6504B5;
  color: #fff;
  font-family: poppins;
}

.mainPageHr {
  margin: 0px 30px 25px;
}

@media only screen and (max-width: 768px) {
  .mainPageHr {
    display: none;
  }
  .browsePetWrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-family: poppins;
  }
  .browsePetWrapper.mating {
    min-height: 100vh;
  }
  .browsePetWrapper .pupListWrapper {
    width: 100%;
    position: relative;
    padding: 0px 0px 0;
    background: #f5f5f5;
  }
  .browsePetWrapper .pupListWrapper .pageHeadingSticky {
    position: relative;
    padding: 15px 15px 15px;
    background: #fff;
    margin-bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: stretch;
    z-index: 10;
    color: #000;
  }
  .browsePetWrapper .pupListWrapper .pageHeadingSticky.nonStick {
    position: relative;
  }
  .browsePetWrapper .pupListWrapper .pageHeadingSticky h1 {
    margin-bottom: 10px;
    font-family: changa one;
  }
  .browsePetWrapper .pupListWrapper .pageHeadingSticky .buyPageHeading {
    font-family: changa one;
  }
  .browsePetWrapper .pupListWrapper .pageHeadingSticky .buyPageInfo {
    font-family: poppins;
  }
  .browsePetWrapper .pupListWrapper .buyPageListWrapper {
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: space-between;
    align-items: start;
    padding-bottom: 60px;
  }
  .browsePetWrapper .pupListWrapper .buyPageListWrapper .buyPageList {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    justify-content: start;
  }
  .browsePetWrapper .pupListWrapper .buyPageListWrapper .bannerWrapper {
    width: 100%;
    position: sticky;
    top: 150px;
    padding: 20px 15px 25px;
    text-align: center;
    background: #2e0152;
    background: #6504b5;
    color: white;
    border: 1px solid #ffd903;
    border-radius: 12px;
  }
  .browsePetWrapper .pupListWrapper .buyPageListWrapper .bannerWrapper h3 {
    font-family: changa one;
  }
  .browsePetWrapper .pupListWrapper .buyPageListWrapper .bannerWrapper p {
    font-family: poppins;
  }
  .browsePetWrapper .pupListWrapper .buyPageListWrapper .bannerWrapper button {
    margin-top: 10px;
    padding: 10px 20px;
    font-family: changa one;
    background: #fff;
    color: #6504b5;
    border: 0px;
    border-radius: 8px;
  }
  .enquiryModal {
    width: 80vw;
    padding: 30px 20px;
  }
  .skeletonCardWrapper {
    width: 100%;
  }
}
.skeletonCardWrapper {
  width: 25%;
}
.skeletonCardWrapper .skeletonCard {
  margin-bottom: 20px;
  border-radius: 4px;
}/*# sourceMappingURL=style.css.map */