.DashNavUserWrapper{
    width: 220px;
    position: sticky;
    top: 0;
    left: 0px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    padding: 10px 0px 0;
    background: #fff;

    // .linkWrapper{
    //     padding: 20px;
    // }

    .DhashNavLogo{
        width: 100px;
        height: auto;
    }

    .DhashNavLink{
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 0px;
        align-items: start;
        text-decoration: none;
        color:#6504b5;
        font-size: 18px;
        // text-transform: uppercase;
        letter-spacing: 0.5px;
        padding: 20px 0;

        &.logo{
            justify-content: center;
        }

        .DashNavIcon{
            width: 30px;
            height: auto;
            margin-right: 20px;
        }

        p{
            font-family: changa one;
            margin-bottom: 0;
        }
    }

    .active{
        background: #6504b5;
        color: #fff;
    }
}