.headerWrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px 10px;

    & > div{
        display: flex;
        align-items: center;
    }

    .headerLogo{
        height: 80px;
        width: auto;
    }

    .navLink{
        margin-left: 30px;
        font-family: fredoka;
        text-decoration: none;
        font-weight: 500;
        color: #6504b5;
    }
}